.add-member-button {
  font-size: 12px;
  font-weight: 300;
  padding: 8px;
}

.add-member-button:hover {
  opacity: 1;
  background-color: #333864;
  border-radius: 8px;
}

.balance-title {
  font-size: 10px;
  text-align: right;
  padding-right: 8px;
}

.group-members-row {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.group-members-row:hover {
  opacity: 1;
  background-color: #333864;
  border-radius: 8px;
}

.member-name {
  font-weight: bold;
  font-size: 1rem;
  width: 70px;
}

.status {
  font-size: 12px;
  font-weight: 300;
}

.balance {
  font-weight: bold;
  color: #4495c7;
}

li {
  list-style: none;
}

.balance.red {
  color: red;
}

.balance.blue {
  color: blue;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.add-user-button {
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: #e05a7a;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
